


:local(.FeedIndex)
  display: flex
  flex-direction: column
  margin: 0
  padding: 0
  position: relative

  :local(.FeedRoot)
    display: flex
    flex-grow: 1
    padding-top: 60px
    padding-bottom: 30px
    margin: 0 auto
    max-width: 600px;
    width: 100%;
    flex-direction: column

    :local(.FeedList)
      display: flex
      flex-direction: column