


:local(.PhotoPost)
  background: white
  border: 1px solid #edeeee
  border-radius: 3px
  display: flex
  flex-direction: column
  margin-bottom: 60px
  font-size: 14px
  line-height: 18px

  header
    display: flex
    height: 64px
    padding: 14px 20px
    box-sizing: border-box
    align-items: center

    img.OwnerAvatar
      display: flex
      flex-basis: 30px
      height: 30px
      margin: -1px 10px -1px -5px
      width: 30px
      border-radius: 50%
      background: #fbfbfb
      border: 1px solid #cccfd0
      box-sizing: border-box

    .Owner
      display: flex
      flex: 1

      a
        text-decoration: none
        color: #125688
        display: inline-block
        font-weight: 500
        &:hover
          color: #0d3c5f

    a.Reference
      text-decoration: none
      font-weight: 500
      color: gray

  .Media
    display: flex

  .Info
    display: flex
    padding: 0 24px
    flex-direction: column

    section
      display: flex
      flex-direction: column

      &:first-child
        margin-top: 21px
        margin-bottom: 7px

      &:last-child
        margin-top: 13px
        margin-bottom: 0

      &.Likes
        font-weight: 600
        color: #4b4f54

      &.WriteNewComment
        border-top: 1px solid #eeefef
        flex-direction: row
        min-height: 70px
        align-items: center

        figure
          margin: 0
          padding: 0
          width: 44px
          height: 44px
          cursor: pointer

          svg
            padding: 6px
            width: 32px
            height: 32px

            path
              fill: transparent
              stroke: #A6A8A8

          &.Liked
            svg path
              fill: #F12938
              stroke: none

      &.Comments
        .comment
          word-wrap: break-word
          margin-bottom: 7px
          font-size: 15px
          line-height: 18px

          h1
            display: inline-block
            font-size: 15px
            margin: 0
            padding: 0
            margin-right: 6px

          a
            color: #125688
            text-decoration: none




