


:local(.ApplicationHeader)
  align-items: stretch
  background: white
  border-bottom: 1px solid #edeeee
  display: flex
  padding: 0 20px
  box-sizing: border-box
  flex-direction: column
  margin: 0
  position: relative
  vertical-align: baseline

  :local(.HeaderMain)
    display: flex
    max-width: 600px
    padding: 26px 0
    margin: 0 auto
    flex-direction: row
    width: 100%
    align-items: stretch
    line-height: 25px

    a
      display: flex
      text-decoration: none
      color: #125688
      font-size: 14px
      font-weight: 500


    .searchBox
      display: flex
      flex: 1
      justify-content: center

      input
        border-radius: 15px
        border: solid 1px #edeeee
        font-size: 14px
        height: 20px
        outline: none
        padding: 3px 10px 3px 26px
        width: 178px
        background: #fafafa
        font-weight: 100