
backgroundBase = #303030
backgroundHead = #212121
backgroundFoot = #424242


header:local(.Header)
  display: block
  position: relative
  width: 100%
  min-height: 10px


  &:local(.ThemeDark)
    background: backgroundHead

  &:local(.ThemeLight)
    background: #e1e1e1

